Repository DeanLuus1994/python-slim-dev-container: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-docker-paths, validate-container-files, validate-config-files

validate-docker-paths:
  name: Validate Docker Compose paths
  entry: python3 cicd/validate_docker_paths.py
  language: system
  pass_filenames: false

validate-container-files:
  name: Validate container-related files
  entry: python3 cicd/validate_container_files.py
  language: system
  pass_filenames: false

validate-config-files:
  name: Validate configuration files
  entry: python3 cicd/validate_config_files.py
  language: system
  pass_filenames: false

Refactor devcontainer configuration for consistency
  .devcontainer/.env
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/pyproject.toml
Due: validate-docker-paths, validate-container-files

Remove obsolete validation scripts for config and container files
  cicd/validate/config_files.py
  cicd/validate/container_files.py
  cicd/validate/file_structure.py
  cicd/verify/env_vars.py
  cicd/verify/requirements.py
Due: none

Add requirements.txt for dependencies and remove obsolete configuration files
  .devcontainer/Dockerfile
  .devcontainer/common/install-zsh-plugins.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/pyproject.toml
  .devcontainer/requirements.txt
  .flake8
  .github/dependabot.yml
  .github/workflows/code-quality.yml
  .github/workflows/python-ci.yml
  .github/workflows/python-tests.yml
  .gitignore
  .pre-commit-config.yaml
  assets/README.md
  pyproject.toml
  requirements.txt
Due: validate-docker-paths, validate-container-files, validate-config-files

Remove obsolete Python feature configuration from devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Refactor devcontainer setup: streamline environment variables, enhance Dockerfile stages, and add SSH key display script
  .devcontainer/.env
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: validate-docker-paths, validate-container-files, validate-config-files

Refactor Dockerfile and environment configuration: streamline optimization flags, simplify SSH key display script, and update dependencies in pyproject.toml
  .devcontainer/.env
  .devcontainer/Dockerfile
  pyproject.toml
  requirements.txt
Due: validate-container-files, validate-config-files

Remove obsolete asset files and updated README documentation
  README.md
  assets/README.md
  assets/banner.avif
  assets/banner.png
  assets/banner.webp
Due: none

Remove obsolete SSH server configuration from devcontainer.json and set remote user to vscode
  .devcontainer/devcontainer.json
Due: none

Update remote user in devcontainer.json and change author information in pyproject.toml
  .devcontainer/devcontainer.json
  pyproject.toml
Due: validate-config-files

Enhance postCreateCommand in devcontainer.json to include environment mode and variable display
  .devcontainer/devcontainer.json
Due: none

Refactor Dockerfile: separate COPY commands for installed packages from builder
  .devcontainer/Dockerfile
Due: validate-container-files

Update Python version and dependencies in Dockerfile and pyproject.toml; enhance CI workflow with updated actions and pre-commit hooks
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: validate-docker-paths, validate-container-files, validate-config-files

Remove STORAGE variable from environment configuration and update Poetry version in Dockerfile; adjust docker-compose.yml to use default PostgreSQL data directory.
  .devcontainer/.env
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: validate-docker-paths, validate-container-files

Update package verification in Dockerfile to use importlib.metadata instead of pkg_resources
  .devcontainer/Dockerfile
Due: validate-container-files

Add additional dependencies to Dockerfile using Poetry
  .devcontainer/Dockerfile
Due: validate-container-files

Refactor Dockerfile to remove redundant cleanup commands after each dependency installation; consolidate cleanup into a single step.
  .devcontainer/Dockerfile
Due: validate-container-files

Update dependencies in Dockerfile to latest versions for findpython and build
  .devcontainer/Dockerfile
Due: validate-container-files

Update Dockerfile to streamline dependency installation with Poetry and adjust Python version in pyproject.toml
  .devcontainer/Dockerfile
  pyproject.toml
Due: validate-container-files, validate-config-files

Update Dockerfile to create an empty poetry.lock if it doesn't exist
  .devcontainer/Dockerfile
Due: validate-container-files

Update Dockerfile to install all dependencies with Poetry, removing the no-dev flag
  .devcontainer/Dockerfile
Due: validate-container-files

Update Dockerfile to lock dependencies before installation with Poetry
  .devcontainer/Dockerfile
Due: validate-container-files

Add slimdev package and configuration scripts; remove unused .env and dependabot files
  .devcontainer/.env
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/prebuild.sh
  .github/dependabot.yml
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/extract_config.py
  slimdev/__init__.py
  slimdev/config.py
  tests/test_config.py
Due: validate-docker-paths, validate-container-files, validate-config-files

Refactor configuration scripts and update README for Python version; enhance error handling in config loading
  .devcontainer/prebuild.sh
  README.md
  scripts/extract_config.py
  scripts/generate_config.py
  slimdev/config.py
Due: none

Add debug configuration, logging setup, and optimization scripts
  .debug.yaml
  .devcontainer/container/Dockerfile.dev
  .devcontainer/container/docker-compose.dev.yaml
  .devcontainer/container/dockerfile.build
  .devcontainer/container/dockerfile.optimizer
  .devcontainer/container/dockerfile.runtime
  .devcontainer/init/debug/cli.py
  .devcontainer/init/debug/config.py
  .devcontainer/init/debug/core.py
  .devcontainer/init/debug/log.py
  .devcontainer/init/debug/profilers.py
  .devcontainer/init/functions/__init__.py
  .devcontainer/init/tests/test_debug.py
  .env
  .vscode/settings.json
Due: validate-config-files

Replace sensitive tokens with placeholders and update .gitignore
  .devcontainer/init/example.env
Due: none

Remove example.env file and update .dockerignore to exclude it
  .devcontainer/init/example.env
  .dockerignore
Due: none

Path conditions:
  validate-docker-paths: any of: ^\.devcontainer/docker-compose\.yml$
  validate-container-files: any of: ^\.devcontainer/(Dockerfile|docker-compose\.yml)$
  validate-config-files: any of: ^(pyproject\.toml|\.flake8|\.env|\.github/dependabot\.yml)$
